<%= form_for(@campingtripplanningtool) do |f| %>
  <% if @campingtripplanningtool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campingtripplanningtool.errors.count, "error") %> prohibited this campingtripplanningtool from being saved:</h2>

      <ul>
      <% @campingtripplanningtool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4>First Name<h4>
    <%= f.text_field :fname, class: "form-control" %>
  </div>
  <div class="field">
    <h4>Last Name</h4>
    <%= f.text_field :lname, class: "form-control" %>
  </div>
  <div class="field">
    <h4>City, State</h4>
    <%= f.text_field :city, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Insert Information", class: "btn btn-primary" %>
  </div>
<% end %>
