<<<<<<< HEAD
<h1>Listing campingtripplanningtools</h1>
=======
<div>
  <%= link_to 'Add Your Name', new_campingtripplanningtool_path %> | <%= link_to 'List View', campingtripplanningtools_list_path %>
</div>
<div class="jumbotron" id="map-container">
</div>
>>>>>>> 277c2dca7505098b40be38b5d6a5e4f10c62d0d1

<table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>City</th>
      <th>State</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Gmaps</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campingtripplanningtools.each do |campingtripplanningtool| %>
      <tr>
        <td><%= campingtripplanningtool.fname %></td>
        <td><%= campingtripplanningtool.lname %></td>
        <td><%= campingtripplanningtool.city %></td>
        <td><%= campingtripplanningtool.state %></td>
        <td><%= campingtripplanningtool.latitude %></td>
        <td><%= campingtripplanningtool.longitude %></td>
        <td><%= campingtripplanningtool.gmaps %></td>
        <td><%= link_to 'Show', campingtripplanningtool %></td>
        <td><%= link_to 'Edit', edit_campingtripplanningtool_path(campingtripplanningtool) %></td>
        <td><%= link_to 'Destroy', campingtripplanningtool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campingtripplanningtool', new_campingtripplanningtool_path %>
