<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @campingtripplanningtool.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @campingtripplanningtool.lname %>
</p>

<p>
  <strong>City:</strong>
  <%= @campingtripplanningtool.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @campingtripplanningtool.state %>
</p>

<%= link_to 'Edit', edit_campingtripplanningtool_path(@campingtripplanningtool) %> |
<%= link_to 'Back', campingtripplanningtools_path %>
