<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @campingtripplanningtool.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @campingtripplanningtool.lname %>
</p>

<p>
  <strong>City:</strong>
  <%= @campingtripplanningtool.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @campingtripplanningtool.state %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @campingtripplanningtool.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @campingtripplanningtool.longitude %>
</p>

<p>
  <strong>Gmaps:</strong>
  <%= @campingtripplanningtool.gmaps %>
</p>

<%= link_to 'Edit', edit_campingtripplanningtool_path(@campingtripplanningtool) %> |
<%= link_to 'Back', campingtripplanningtools_path %>
