<% if user_signed_in? %>
  <% if (current_user.email == 'bheller2010@live.com' || current_user.email == 'sixstringjesse@gmail.com' || current_user.email == 'jamescook828@gmail.com') %>
<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.text %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= button_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
<% end %>
Only an admin can use this feature...
<% else %>
Only an admin can use this feature...
<% end %>