<!DOCTYPE html>
<html>
<head>
  <title>ADDGamerz || Owning noobs since... Forever...</title>
  <%= favicon_link_tag 'icon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'rails.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
  <%= javascript_include_tag 'jquery-1.11.1.min.js' %>
</body>
</html>
